.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  transition: all 0.3s;
}

.hamburger-menu {
  display: none;
}

.hamburger-menu span {
  display: block;
  width: 20px;
  height: 3px;
  background: #000;
  margin-bottom: 5px;
}

@media (max-width: 900px) {
  .logo img {
    width: 90%;
  }

  .hamburger-menu {
    display: block;
  }

  .navbar_items {
    position: absolute;
    top: 35px;
    left: -32px;
    width: 100vw;
    max-width: 100vw;
    background: var(--light-sky);
    padding: 0;
    padding-top: 10px;
    opacity: 0;
    transition: all 0.3s;
    height: 0;
    overflow: hidden;
    z-index: 999;
  }

  .navbar_items.show-nav {
    opacity: 1;
    transition: all 0.3s;
    height: 500px;
  }
}
